<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Julien Schmidt Router for Golang</title>
</head>
<body>
<strong>APPLY</strong><br>
<a href="/">index</a><br>
<a href="/about">about</a><br>
<a href="/contact">contact</a><br>
<a href="/user">user</a><br>
<a href="/apply">apply</a><br>
<a href="/blog">blog</a><br>
<form method="post" action="/apply">
<input type="submit" value="apply">
</form>
</body>
</html>