<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Julien Schmidt Router for Golang</title>
</head>
<body>
<strong>WRITE BLOG</strong><br>
<a href="/">index</a><br>
<a href="/about">about</a><br>
<a href="/contact">contact</a><br>
<a href="/user">user</a><br>
<a href="/apply">apply</a><br>
<a href="/blog">blog</a><br>
<form method="post" action="/blog/category/article">
<input type="text" value="" name="category" id="category">
<input type="text" value="" name="article" id="article">
<input type="submit" value="blog">
</form>
</body>
</html>