<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Peeps</title>
</head>
<body>
<h3>Wisdom</h3>
<ul>
    {{$wisdom := .Wisdom}}
    {{range $wisdom}}
    <h3>{{.Name}} - {{.Motto}}</h3>
    {{end}}
</ul>
<h3>Transport</h3>
<ul>
    {{$transport := .Transport}}
    {{range $transport}}
    <li>{{.Manufacturer}}: {{.Model}}, {{.Doors}} doors</li>
    {{end}}
</ul>
</body>
</html>