<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Golang Restaurant</title>
</head>
<body>
{{range .}}
<h1 style="text-align:center;">{{.Name}} Menu</h1>
<hr>
<h2 style="text-align:center;">Breakfast</h2>
{{range .Menu.Breakfast}}
<h3 style="text-align:center;">{{.Name}} - S${{.Price}}</h3>
<h4 style="text-align:center;">{{.Desc}}</h4>
<br>
{{end}}
<hr>
<h2 style="text-align:center;">Lunch</h2>
{{range .Menu.Lunch}}
<h3 style="text-align:center;">{{.Name}} - S${{.Price}}</h3>
<h4 style="text-align:center;">{{.Desc}}</h4>
<br>
{{end}}
<hr>
<h2 style="text-align:center;">Dinner</h2>
{{range .Menu.Dinner}}
<h3 style="text-align:center;">{{.Name}} - S${{.Price}}</h3>
<h4 style="text-align:center;">{{.Desc}}</h4>
<br>
{{end}}
{{end}}
</body>
</html>