<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>functions - format date</title>
</head>
<body>

Without date formatting: {{.}}

With date formatting (MDY): {{fdateMDY .}}
With date formatting (DMY): {{fdateDMY .}}
With date formatting (YMD): {{fdateYMD .}}
With date formatting (TIME): {{fdateTime .}}

</body>
</html>