<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>predefined global functions</title>
</head>
<body>

COMPARISON:

    {{if gt .Score1 .Score2}}
        Score1 {{.Score1}} is greater than Score2 {{.Score2}}
    {{else if lt .Score1 .Score2}}
        Score1 {{.Score1}} is less than Score2 {{.Score2}}
    {{else if eq .Score1 .Score2}}
        Score1 {{.Score1}} is equal to Score2 {{.Score2}}
    {{end}}

    {{if lt .Score1 10}}
        Score1 {{.Score1}} is less than 10
    {{end}}
    
</body>
</html>