<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Re-directs in action</title>
</head>

<body>
<form method="post" action="/bar">
    <h1>Re-directs in action</h1>
    <input type="text" name="fname" title="fname">
    <input type="submit">
</form>
</body>
</html>